
/****************** NAVBAR ******************/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default, .navbar-collapse {
  text-align: center;
	background-color: inherit;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav li a {
	color: rgba(255,255,255,0.75);
	text-transform: uppercase;
	font-size: 0.8em;
}

.navbar-default .navbar-nav li a:hover {
	color: rgba(255,255,255,1);
}

.navbar-default .navbar-toggle {
	float: none;
	margin: 0.6em 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
	background-color: inherit;
	color: #fff;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav>.active>a:after {
	content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
/*  background: #444;*/
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
 }

/****************** END NAVBAR ******************/


/****************** HEADER ******************/

.tittle {
	color: #fff;
	margin: 0 0 40px 0;
}

.header-row {
	background-image: url(../images/banner.jpg);
	background-position: center;
	color: rgba(255,255,255,0.75);
	padding: 30px;
	letter-spacing: .4em;
}

/****************** END HEADER ******************/

/****************** RED ROW ******************/


.red-row-title {
	background: #e97770 url(../images/overlay.png);
	color: #fff;
	margin-top: 10px;
}

.red-row {
	background: #e97770 url(../images/overlay.png);
	color: rgba(255,255,255,0.75);
	padding: 10px 20px 60px 20px;
	letter-spacing: .1em;
}

/****************** END RED ROW ******************/

/****************** MAIN ROW ******************/

.main-row-title {
	background: #f3f3f3 url(../images/overlay.png);
	color: #51565D;
}

.main-row {
	background: #f3f3f3 url(../images/overlay.png);
	padding: 20px 0 60px;
}

.article-img {
	margin-bottom: 40px;
	margin-top: 20px;
}

.article-thumbnail {
	min-height: 260px;
	margin: 10px 0;
/*	padding: 5px;*/
}

.article-thumbnail .context {
	min-height: 50px;
}

.article-thumbnail .well {
	min-height: 20px;
	padding: 9px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255,1);
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.article-thumbnail .well:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thumbnail {
	border: none;
}

.thumbnail img {
	height: 200px;
}

.btn.btn-primary, .btn.btn-danger, .btn.btn-default {
	font-weight: 300;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-radius: 0;
}

.btn.btn-primary {
	background-color: rgba(51, 123, 183,0.85);
	border: none;
}

.btn.btn-danger {
	background-color: rgba(217, 83, 79,0.85);
	border: none;
}

form .warning {
	color: red;
}

#cancel_link, #cancel_link:hover {
	color: #fff;
	text-decoration: none;
}

.lead strong {
	font-weight: bold;
}


/****************** END MAIN ROW ******************/

/****************** FOOTER ROW ******************/

.footer {
  height: 60px;
} 

.footer-row-title {
	background: #282b34 url(../images/overlay.png);
	color: #fff;
}

.footer-row {
	background: #282b34 url('../images/overlay.png');
	color: rgba(255,255,255,0.75);
	padding: 20px;
	letter-spacing: .1em;
}

ul.pagination li a {
	background: #282b34 url('../images/overlay.png');
	color: rgba(255,255,255,0.75);
}

/****************** END FOOTER ROW ******************/





/***************************************/
/* 							CLASSES 				 			 */
/***************************************/

.row-title {
	position: relative;
	top: -60px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.row-title h3 {
	font-size: 1.5em;
	font-weight: 300;
}

.row-title:before {
	content: '';
	position: absolute;
	bottom: -25px;
	left: -35px;
	width: 35px;
	height: 38px;
}

.row-title:after {
	content: '';
	position: absolute;
	bottom: -25px;
	right: -35px;
	width: 35px;
	height: 38px;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}


/****************** MEDIA ******************/

@media screen and (min-width: 400px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1200px) {
	.navbar-default .navbar-nav li a {
		padding: 1.25em; /* To fix navbar word wrap at 1200 & 1201 pixels */
	}
}

/****************** END MEDIA ******************/

/****************** GOOGLE FONTS ******************/
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlCxe5Tewm2_XWfbGchcXw4g.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlIa1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMZXFz2iDKd7GJNSaxRYiSj3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGKyGJhAh-RE0BxGcd_izyev3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMzFoXZ-Kj537nB_-9jJhlA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMms7UHsIbjUxEJqIwog-i_3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGO4s1Ux4PuImWPk5fSr6HPL3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}